{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<form action='/' method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type='submit' name='pdf' value='Generate PDF' />
  <input type='button' id='preview' value='Preview' />
</form>

<canvas id="canvas"></canvas>
<div id="coords"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/draw.js' %}"></script>
<script>
  document.getElementById("preview").onclick = process; 
</script>


{% endblock %}
